@mainBackgroundColor: #1C1C1C;
@secondBackgroundColor: #212121;
@thirdBackgroundColor: #2B2B2B;
@linkColor: #7EBED7;
@menuLinkColor: #B3B3B3;
@suuntoRed: #ad1b24;

@mainTextColor: rgb(235, 235, 235);
@formTextColor: rgb(179, 179, 179);

/* Intensity colors */
@noIntensityColor: #525252;
@easyColor: #09c952;
@moderateColor: #00b8c8;
@hardColor: #105c2d;
@veryHardColor: #682710;
@maximalColor: #e6430a;
