<html ng-app="ambitIntervals">
  <head>
    <title>Suunto Ambit Intervals App Generator</title>
    <link rel="stylesheet" href="main.css"></link>
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css"></link>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
  </head>
  <body ng-controller="intervalDesignerController">
    <script type="text/javascript">
      var data = {
        "steps": [
          {
            "type": "WarmUp",
            "duration": {
              "type": "Lap"
            },
            "target": {
              "type": "None"
            }
          },
          {
            "type": "Repeat",
            "times": 2,
            "steps": [
              {
                "type": "Interval",
                "duration": {
                  "type": "Distance",
                  "value": 1.2
                },
                "target": {
                  "type": "Pace",
                  "from": '04:10',
                  "to": '04:15'
                }
              },
              {
                "type": "Recovery",
                "duration": {
                  "type": "Distance",
                  "value": 0.6
                },
                "target": {
                  "type": "None"
                }
              },
              {
                "type": "Interval",
                "duration": {
                  "type": "Distance",
                  "value": 0.8
                },
                "target": {
                  "type": "Pace",
                  "from": '03:45',
                  "to": '03:50'
                }
              },
              {
                "type": "Recovery",
                "duration": {
                  "type": "Distance",
                  "value": 0.4
                },
                "target": {
                  "type": "None"
                }
              },
              {
                "type": "Interval",
                "duration": {
                  "type": "Distance",
                  "value": 0.4
                },
                "target": {
                  "type": "Pace",
                  "from": '03:50',
                  "to": '03:55'
                }
              },
              {
                "type": "Recovery",
                "duration": {
                  "type": "Distance",
                  "value": 0.2
                },
                "target": {
                  "type": "None"
                }
              }
            ]
          },
          {
            "type": "CoolDown",
            "duration": {
              "type": "Lap"
            },
            "target": {
              "type": "None"
            }
          }
        ]
      };


      var myAppModule =
        angular
          .module('ambitIntervals', ['ui.tree'])
          .directive('stepEditor', function () {
            return {
              restrict: 'E',
              replace: true,
              scope: {
                step: '='
              },
              templateUrl: 'stepEditor.html',
              link: function ($scope, $element) {
                $scope.stepTypes = ['Other', 'WarmUp', 'Interval', 'Recovery', 'CoolDown'];
                $scope.durationTypes = ['Distance', 'Lap'];
                $scope.targetTypes = ['Pace', 'None'];
              }
            };
          })
          .controller('intervalDesignerController', ['$scope', function($scope) {

            $scope.interval = {
              name: 'New Interval Set',
              description: '',
              steps: data.steps
            }
            $scope.stepTypes = ['Other', 'WarmUp', 'Interval', 'Recovery', 'CoolDown'];

            $scope.addStep = function () {
              var newStep = {
                type: 'Other',
                duration: { type: 'Lap' },
                target: { type: 'None' }
              }

              $scope.interval.steps.push(newStep);
            };

            $scope.addRepeat = function () {
              var newRepeat = {
                type: 'Repeat',
                times: 1,
                steps: []
              };
              $scope.interval.steps.push(newRepeat);
            };

            $scope.options = {
              accept: function(sourceNode, destNode, destIndex) {
                var data = sourceNode.$modelValue;
                var destType = destNode.$element.attr('data-nodetype');
                var sourceType = sourceNode.$element.attr('data-nodetype');

                if (destType === 'Repeat' && data.type === 'Repeat') {
                  return false;
                } else {
                  return true;
                }
              }
            };
          }]);
    </script>
    <h1>Suunto Ambit Intervals App Generator</h1>

    <label>
      Name
      <input type="text" ng-model="interval.name" />
    </label>

    <label>
      Description
      <textarea ng-model="interval.description"></textarea>
    </label>

  	<div ui-tree="options" data-empty-place-holder-enabled="false">
      <ol ui-tree-nodes ng-model="interval.steps" data-nodetype="Step" class="angular-ui-tree-nodes">
        <li ng-repeat="step in interval.steps" ui-tree-node data-nodetype="OutsideRepeat">
          <div ng-switch on="step.type">
            <div ng-switch-when="Repeat">
              <h2>Repeat <input type="text" ng-model="step.times" /> times</h2>
              <ol ui-tree-nodes ng-model="step.steps" data-nodetype="Repeat" class="angular-ui-tree-nodes">
                <li ng-repeat="repeatStep in step.steps" ui-tree-node data-nodetype="InsideRepeat">
                  <step-editor step="repeatStep"></step-editor>
                </li>
              </ol>
            </div>
            <div ng-switch-default>
              <step-editor step="step"></step-editor>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <button ng-click="addStep()">Add Step</button>
    <button ng-click="addRepeat()">Add Repeat</button>

   	<pre>{{ interval | json }}</pre>

  </body>
</html>
