<div>
  <label>
    Type
    <select ng-model="step.type" ng-options="stepType for stepType in stepTypes"></select>
  </label>

  <label>
    Duration
    <select ng-model="step.duration.type" ng-options="durationType for durationType in durationTypes"></select>
  </label>

  <label ng-show="step.duration.type == 'Distance'" >
    <input type="text" ng-model="step.duration.value" /> km
  </label>

  <label>
    Target
    <select ng-model="step.target.type" ng-options="targetType for targetType in targetTypes"></select>
  </label>

  <label ng-show="step.target.type == 'Pace'" >
    From
    <input type="text" ng-model="step.target.from" /> sec/km
  </label>

  <label ng-show="step.target.type == 'Pace'" >
    To
    <input type="text" ng-model="step.target.to" /> sec/km
  </label>
</div>
