<h1>Why use this app?</h1>
<p>
	The Suunto Ambit range are great multisport watches, however the suport for structured workouts is limitied compared to competing watches. There is a built-in interval timer, but it only allows you to specify high and low duration, either based on distance or time. You cannot specify a target (pace, heart rate, cadence), and each interval needs to be of the same duration.
</p>

<figure>
	<img src="/images/movescount-interval-timer.png" alt="Suunto Ambit built-in interval timer" />
	<figcaption>Screenshot of the config screen for the built-in interval timer</figcaption>
</figure>

<p>
	The built-in interval timer will not help you do a structured run session such as:
	<ul>
		<li>15min Warm Up</li>
		<li>1200m @ 04:00 pace (400m RI)</li>
		<li>2x800m @ 03:50 pace (200m RI)</li>
		<li>4x400m @ 03:30 pace (200m RI)</li>
		<li>15min Cool Down</li>
	</ul>

	Adding support for structured workouts like this is the goal of the Interval App Generator.
</p>

<h1>Suunto Ambit Apps</h1>
<p>
	One of the cool features of the Ambit watches is the ability to create custom apps for the watch. The apps can do anything from calculating <a href="http://www.movescount.com/apps/app77-Beers_burned_off">how many beers you have burned off during your exercise</a>, to guiding you through some <a href="http://www.movescount.com/apps/app10024399-HIGH_INTENSITY_INTERVALS">high intensity intervals</a>.
</p>

<p>
	So even if the built-in interval timer has limitied functionality, structured workouts can be implemented as custom apps. There is an existing <a href="http://www.seckle.ch/tools/suunto-ambit-apps/time-interval-app/">Interval App Generator</a> that let you specify a set of intervals with different durations (based on time or distance), but it does not let you specify a target for each interval (pace, heart rate, cadence). This is something this generator adds.
</p>

<h1>About the author</h1>
<p>
	This Ambit Interval Generator is created by Jonas Follesø, and is licenced under the MIT Open Source licence. The source code is available on <a href="https://github.com/follesoe/suunto-ambit-intervals">github</a> and contributions and bug reports are greatly appreciated.
</p>

<a href='http://www.movescount.com/members/follesoe' style='padding-top: 12px; margin: 6px 0; padding-left: 12px; background: url(//dcjitw11p57ya.cloudfront.net/img/huge_badge3EDDF92B260F7CA40B6FCD405D53D261.png) no-repeat scroll; font-family: Lucida Grande,Lucida Sans Unicode,Tahoma,Verdana,Arial,sans-serif; color: #ebebeb; text-transform: uppercase; text-decoration: none; display: block; height: 108px; font-size: 11px; width: 293px;'>Follow my Moves at</a>

<iframe src="http://www.movescount.com/memberinfo/follesoe" frameborder="0" style="max-width: 800px; width:100%; height:350px;" scrolling="no"></iframe>
