<section>
	<h1 class="first">How to</h1>

	<h2>1. Create Movescount Apps</h2>
	<p>
		First you need to create two new apps in the <a href="http://www.movescount.com/tools/appdesigner">App Designer</a> on Movescount.com. Name the applications <b>Int Duration</b> and <b>Int Target</b>.
	</p>
	<p>
		Make sure to set the publicity setting to <b>Private</b> for your apps. Movescount.com will not let you update an existing application if anyone else is using it - so by making your apps private you make sure no one else starts using your interval apps.
	</p>

	<h2>2. Add Own Variables</h2>
	<p>
		For the <b>Int Target</b> app you need to add the variables used by the app.
	</p>
	<ul>
		<li>ACTUAL</li>
		<li>TO</li>
		<li>FROM</li>
		<li>FORMATPACE</li>
		<li>TARGET</li>
		<li>TARGETSEC</li>
		<li>TARGETMIN</li>
	</ul>

	<figure>
		<img src="images/movescount-own-variables.png" alt="Setting own variables" />
		<figcaption>How your "Own variables" section should look like.</figcaption>
	</figure>

	<h2>3. Set Format</h2>
	<p>The output of an Movescount App can be formatted with 0, 1 or 2 decimals, or as time.</p>
	<ul>
		<li>For the <b>Int Target</b> app, set the format to 2 decimals.</li>
		<li>For the <b>Int Duration</b> set it to 0 decimals.</li>
	</ul>

	<h2>4. Create your interval session</h2>
	<p>Use the Interval Designer to create your interval session.<p/>

	<figure>
		<img src="images/example-workout.png" alt="Example Workout" />
		<figcaption>Example interval set.</figcaption>
	</figure>

	<h4>4.1 Step Type</h4>
	<p>
		Steps can be of different types. The type of interval is displayed as the prefix for the <b>Int Duration</b> app.
	</p>
	<ul>
		<li>Other <i>(othr)</i></li>
		<li>Warm up <i>(wu)</i></li>
		<li>Interval <i>(int)</i></li>
		<li>Recovery <i>(rec)</i></li>
		<li>Rest <i>(rest)</i></li>
		<li>Cool down <i>(cd)</i></li>
	</ul>

	<h4>4.2 Step Duration</h4>
	<p>
		Each step has a given duration. At the end of the duration (unless you use Lap as duration) the <b>Int Duration</b> app beeps to notify you to hit the lap button.
	</p>
	<ul>
		<li>Distance <i>(the app counts down a given distance)</i></li>
		<li>Time <i>(the app counts down a given time duration)</i></li>
		<li>Calories <i>(the app counts down number of burned calories)</i></li>
		<li>HR </i>(the app counts down bpm until target HR is reached)</i></li>
		<li>Lap <i>(the app counts up distance, untill the lap button is pressed)</i></li>
	</ul>

	<h4>4.3 Step Target</h4>
	<p>
		Each step has an optional target. The <b>Int Target</b> app will guide you to reach that target by displaying <b>up</b>, </b>down</b> or <b>ok</b> and the target values. The different types of targets are:
	</p>
	<ul>
		<li>None <i>(the app displays your current pace)</i></li>
		<li>Pace <i>(target a pace range, in min/km)</i></li>
		<li>Cadence <i>(target a cadence range - will display rpm for cycling activities, and rpm for running)</i></li>
		<li>Speed <i>(target a speed range, in kmh)</i></li>
		<li>HR <i>(target a heart rate range, in bpm)</i></li>
		<li>Power <i>(target a power range when cycling, in watt)</i></li>
	</ul>

	<h2>5. Copy your apps</h2>
	<h4>5.1 Copy to clipboard</h4>
	<p>
		As you design your interval session, the source code for the <b>Int Duration</b> and <b>Int Target</b> apps are updated automatically. Once you are done desining your session, you need to copy the code into the Movescount App Designer.
	</p>
	<p>
		Click the <b>Select</b> button in the interval designer to mark the code for the app, and hit <b>Ctrl+C (Windows)</b> or <b>Cmd+C (Mac)</b> to copy the code to your clipboard.
	</p>

	<h4>5.2 Enable advanced editing</h4>
	<p>
		To paste the app code into Movescount App Designer you need to click the <b>Enable advanced editing</b> link on Movescount. This will enable a text editor where you can paste the code by clicking <b>Ctrl+V (Windows)</b> or <b>Cmd+V (Mac)</b>.
	</p>

	<p>Click the <b>Verify</b> button on Movescount App Designer to verify that the app is correct, and save your app.</p>

	<h2>6. Add the apps to your watch</h2>
	<h4>6.1 Create a new sports mode</h4>
	<p>
		You can either add the apps to an existing sports mode, or you can create a new one for your interval running.
	</p>

	<h4>6.2 Create a new screen</h4>
	<p>
		The <b>Int Duration</b> and <b>Int Target</b> apps are meant to be used together. I would recommend a three- or two-line screen, with the <b>Int Duration</b> app at the top, and the <b>Int Target</b> app at the bottom.
	</p>

	<figure>
		<img src="images/movescount-running-screen.png" alt="Example Screen Layout" />
		<figcaption>Example screen layout.</figcaption>
	</figure>

	<p>
		Uncheck the <b>Log App</b> checkboxes to prevent the watch from using memory to log the output from the <b>Int Duration</b> and <b>Int Target</b> apps. The output from these apps provide little value when analyzing a move.
	</p>

	<h4>7. Go for a run or ride</h4>
	<p>
		After synchronizing your watch's settings you are ready for a run or ride. Remember to hit the lap button once the <b>Int Duration</b> app reaches 0, and the alarm beeps. If you do not hit the lap button, the interval session will not progress to the next step.
	</p>

	<h4>8. Create a new interval set</h4>
	<p>
		When you are ready for a new workout, use the Interval Designer to design your session. Then simply replace the source code in the <b>Movescount App Designer</b> and synchronize your watch.
	</p>

</section>
