<h1>Suunto Ambit Intervals App Generator</h1>

<div>
  <select ng-model="interval" ng-options="interval as interval.name for interval in intervals"></select>
  <button ng-click="addNewInterval()">Add new interval</button>
  <button ng-click="saveIntervals()" class="action">Save intervals</button>
</div>

<label>
  Name
  <input type="text" ng-model="interval.name" />
</label>

<label>
  Description
  <textarea ng-model="interval.description"></textarea>
</label>

<div ui-tree="options" data-empty-place-holder-enabled="false">
  <ol ui-tree-nodes ng-model="interval.steps" data-nodetype="Step" class="angular-ui-tree-nodes">
    <li ng-repeat="step in interval.steps" ui-tree-node data-nodetype="OutsideRepeat">
      <div ng-switch on="step.type">
        <div ng-switch-when="Repeat" class="repeat">
          <h3>
            Repeat <input type="text" ng-model="step.times" /> times
            <button ng-click="deleteStep(step)">Delete</button>
          </h3>
          <ol ui-tree-nodes ng-model="step.steps" data-nodetype="Repeat" class="angular-ui-tree-nodes">
            <li ng-repeat="repeatStep in step.steps" ui-tree-node data-nodetype="InsideRepeat">
              <step-editor step="repeatStep" delete-step="deleteStep"></step-editor>
            </li>
          </ol>
        </div>
        <div ng-switch-default>
          <step-editor step="step" delete-step="deleteStep"></step-editor>
        </div>
      </div>
    </li>
  </ol>
</div>

<button ng-click="addStep()">Add Step</button>
<button ng-click="addRepeat()">Add Repeat</button>

<div class="three">
  <pre>{{ interval | json }}</pre>
  <pre>{{ interval | generateTargetApp }}</pre>
  <pre>{{ interval | generateDurationApp }}</pre>
</div>
