<h1>Suunto Ambit Interval App Generator</h1>
<div>
  <label>
    Select interval
    <select ng-model="interval" ng-options="interval as interval.name for interval in intervals"></select>
  </label>
  <button ng-click="addNewInterval()">New</button>
  <button ng-click="deleteInterval()">Delete</button>
  <button ng-click="saveIntervals()" class="action">Save</button>
</div>

<section class="interval-metadata">
  <div class="interval-metadata-line">
    <label>
      Name
      <input type="text" ng-model="interval.name" />
    </label>
  </div>
  <div class="interval-metadata-line">
    <label>
      Description
      <textarea ng-model="interval.description"></textarea>
    </label>
  </div>
</section>

<h2>Create Interval Set</h2>
<div ui-tree="options" data-empty-place-holder-enabled="false">
  <ol ui-tree-nodes ng-model="interval.steps" data-nodetype="Step" class="angular-ui-tree-nodes">
    <li ng-repeat="step in interval.steps" ui-tree-node data-nodetype="OutsideRepeat">
      <div ng-switch on="step.type">
        <div ng-switch-when="Repeat" class="repeat">
          <h3>
            Repeat <input type="number" min="1" max="20" step="1" ng-model="step.times" /> times
            <button ng-click="deleteStep(step)">Delete</button>
          </h3>
          <ol ui-tree-nodes ng-model="step.steps" data-nodetype="Repeat" class="angular-ui-tree-nodes">
            <li ng-repeat="repeatStep in step.steps" ui-tree-node data-nodetype="InsideRepeat">
              <step-editor step="repeatStep" delete-step="deleteStep"></step-editor>
            </li>
          </ol>
        </div>
        <div ng-switch-default>
          <step-editor step="step" delete-step="deleteStep"></step-editor>
        </div>
      </div>
    </li>
  </ol>
</div>

<button ng-click="addStep()">Add Step</button>
<button ng-click="addRepeat()">Add Repeat</button>
<button ng-click="saveIntervals()" class="action">Save</button>

<div class="app-output">
  <div>
    <h2>Duration App</h2>
    <pre>{{ interval | generateDurationApp }}</pre>
  </div>
  <div>
    <h2>Target App</h2>
    <pre>{{ interval | generateTargetApp }}</pre>
  </div>
</div>
