<div class="step {{step.type}}">
	<label>
		Type
		<select ng-model="step.type" ng-options="stepType for stepType in stepTypes"></select>
	</label>

	<label>
		Duration
		<select ng-model="step.duration.type" ng-options="durationType for durationType in durationTypes"></select>
	</label>

	<label ng-show="step.duration.type == 'Distance'">
		<input type="number" step="0.1" min="0.1" max="100" ng-required="true" ng-model="step.duration.value" />
		<span ng-show="useImperial !== true">km</span>
		<span ng-show="useImperial == true">mile</span>
	</label>

	<label ng-show="step.duration.type == 'Time'">
		<input type="text" ng-pattern="/\d\d:\d\d/" ng-required="true" placeholder="mm:ss" ng-model="step.duration.value" /> min
	</label>

	<label ng-show="step.duration.type == 'Calories'">
		<input type="number" step="10" min="0" max="3000" ng-required="true" ng-model="step.duration.value" /> kcal
	</label>

	<label ng-show="step.duration.type == 'HR'">
		<input type="number" step="10" min="33" max="229" ng-required="true" ng-model="step.duration.value" /> bpm
	</label>

	<label>
		Target
		<select ng-model="step.target.type" ng-options="targetType for targetType in targetTypes"></select>
	</label>

	<label ng-show="step.target.type == 'Pace' || step.target.type == 'Lap Avg Pace'">
		From
		<input type="text" ng-model="step.target.from" ng-required="true" ng-pattern="/\d\d:\d\d/" placeholder="mm:ss" />
	</label>

	<label ng-show="step.target.type == 'Pace' || step.target.type == 'Lap Avg Pace'">
		To
		<input type="text" ng-model="step.target.to" ng-required="true" ng-pattern="/\d\d:\d\d/" placeholder="mm:ss" />
		<span ng-show="useImperial !== true">min/km</span>
		<span ng-show="useImperial == true">min/mile</span>
	</label>

	<label ng-show="step.target.type == 'Cadence'">
		From
		<input type="number" step="1" min="0" max="300" ng-required="true" ng-model="step.target.from" />
	</label>

	<label ng-show="step.target.type == 'Cadence'">
		To
		<input type="number" step="1" min="0" max="300" ng-required="true" ng-model="step.target.to" /> rpm
	</label>

	<label ng-show="step.target.type == 'Speed'">
		From
		<input type="number" step="1" min="0" max="100" ng-required="true" ng-model="step.target.from" />
	</label>

	<label ng-show="step.target.type == 'Speed'">
		To
		<input type="number" step="1" min="0" max="100" ng-required="true" ng-model="step.target.to" />
		<span ng-show="useImperial !== true">km/h</span>
		<span ng-show="useImperial == true">mph</span>
	</label>

	<label ng-show="step.target.type == 'HR'">
		From
		<input type="number" step="1" min="33" max="229" ng-required="true" ng-model="step.target.from" />
	</label>

	<label ng-show="step.target.type == 'HR'">
		To
		<input type="number" step="1" min="33" max="229" ng-required="true" ng-model="step.target.to" /> bpm
	</label>

	<label ng-show="step.target.type == 'Power'">
		From
		<input type="number" step="1" min="0" max="500" ng-required="true" ng-model="step.target.from" />
	</label>

	<label ng-show="step.target.type == 'Power'">
		To
		<input type="number" step="1" min="0" max="500" ng-required="true" ng-model="step.target.to" /> W
	</label>

	<button ng-click="deleteStep(step)">Delete</button>
</div>
